root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = false
insert_final_newline = false

[*.uplugin]
indent_size = 2

[*.{cpp,h}]
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true